body{background-color: bisque;
 font-family:'Times New Roman', Times, serif; 
 font-size: 16px; 
 text-align: justify; 
 color: black;
 padding: 10px; 
 border-radius: 5px;
 margin-bottom: 10px;
}
h1{background-color: bisque; 
font-size: 24px; 
 text-align: left; 
 color: darkslategray; 
 padding: 10px; 
 border-radius: 5px;
 color: black}
 font-family:'Times New Roman', Times, serif; 
 font-size: 24px; 
 text-align: left; 
 color: darkslategray; 
 padding: 10px; 
 border-radius: 5px;
 color: black}
 h2{background-color: bisque;
 font-family:'Times New Roman', Times, serif; 
 font-size: 24px; 
 text-align: left; 
 color: darkslategray; 
 padding: 10px; 
 border-radius: 5px;
 color: black}
p{font-family:'Times New Roman', Times, serif;
 font-size: 16px; 
 background-color: bisque;
 text-align: justify; 
 color: black}

div{background-color: bisque;
 font-family:'Times New Roman', Times, serif; 
 font-size: 16px; 
 text-align: justify; 
 color: black;
 padding: 10px; 
 border-radius: 5px;
 margin-bottom: 10px;
}